@media(max-width: 1280px) {
    .item {
        width: 220px;
        font-size: 14px;
    }

    .item img {
        width: 220px;
    }

    .price_old {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .item {
        width: 170px;
        font-size: 12px;
    }

    .item img {
        width: 170px;
    }

    .price_old {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .item {
        width: 120px;
        font-size: 10px;
    }

    .item img {
        width: 120px;
    }

    .price_old {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .item {
        width: 160px;
        font-size: 8px;
    }

    .item img {
        width: 160px;
    }
}