.checkout{
    width: 100%;
    height: 100vh;
    background:#fce3fe;
    padding-top: 100px;
    padding-bottom: 200px;
}
.checkout-form{
    width: 580px;
    height: 900px;
    margin: auto;
    background: white;
    padding: 40px 60px;
}
span{
    color: red;
}
p{
    color: #5c5c5c;
    font-size: 20px;
    font-weight: 500;
}
h1{
    margin: 20px 0px;

}
.checkout-form input{
    margin: 20px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    font-size: 20px;
    outline: none;
}
 .checkout-form button{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 580px;
    color: white;
    font-size: 24px;
    margin-top: 30px;
    background-color: #ef1c1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
select {
    margin: 20px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    font-size: 20px;
    outline: none;
}
.td{
    font-size: 20px;
    font-weight: 600;
}
.result{
    color: red;
    font-size: 20px;
    font-weight: 500;
}




@media(max-width: 800px){
    .checkout-form{
        width: 400px;
        height: 800px;
        margin: auto;
        background: white;
        padding: 40px 60px;
    }
    .checkout-form button{
        width: 400px;
    }
    .checkout-form input{
        width: 150px; 
    }
}


@media(max-width: 500px){
    .checkout-form{
        width: 300px;
        height: 800px;
        margin: auto;
        background: white;
        padding: 40px 60px;
    }
    .checkout-form button{
        width: 300px;
    }
    .checkout-form input{
        width: 100px; 
    }
    select{
        width: 100px;
        font-size: 20px
    }
}